{% extends 'index.html' %}

<!---Sem text?-->
{% block content %}
    <div class="container mt-5" style="background-color: #f8f9fa;">
        <div class="row justify-content-center">
            <div class="col-md-12" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <h1>Graf page</h1>
                <p>Tento graf poskytuje vizuální reprezentaci statistických dat rozdělených do kategorií. 
                    Každá kategorie je zobrazena jako sloupec, jehož výška odpovídá hodnotě dané kategorie, což umožňuje rychlý přehled o 
                    rozdílech mezi jednotlivými kategoriemi.</p>
            </div>
        </div>
    </div>
{% endblock %}

<!---Sem grafy-->
{% block main %}
    <div class="container mt-5" style="background-color: #f8f9fa;">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <div class="d-flex justify-content-center">
                    <div style="width: 100%;">
                        {{ plot_scatter|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <div class="d-flex justify-content-center">
                    <div style="width: 100%;">
                        {{ plot_bar|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <div class="d-flex justify-content-center">
                    <div style="width: 100%;">
                        {{ plot_time_series|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <div class="d-flex justify-content-center">
                    <div style="width: 100%;">
                        {{ plot_box_plot|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <div class="d-flex justify-content-center">
                    <div style="width: 100%;">
                        {{ plot_treemap|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

