{% extends 'index.html' %}

<!---Sem text?-->
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Graf page</h1>
                <p class="text-block">Tento graf poskytuje vizuální reprezentaci statistických dat rozdělených do kategorií. 
                    Každá kategorie je zobrazena jako sloupec, jehož výška odpovídá hodnotě dané kategorie, což umožňuje rychlý přehled o 
                    rozdílech mezi jednotlivými kategoriemi.</p>
            </div>
        </div>
    </div>
{% endblock %}

<!---Sem grafy-->
{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="d-flex justify-content-center">
                    {{ plot_scatter|safe }}
                    {{ plot_bar|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
