{% extends 'index.html' %}

{% block content %}
    <div class="container mt-5" style="background-color: #f8f9fa;">
        <div class="row justify-content-center">
            <div class="col-md-12" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
                <h1>Vítejte v naší webové aplikaci</h1>
                <p>Tato webová aplikace je navržena pro efektivní zpracování a vizualizaci dat. Prozkoumejte různé typy datových vizualizací prostřednictvím našeho intuitivního rozhraní. Pokračujte v prohlížení našich funkcí a nástrojů pro další informace a lepší pochopení vašich dat. Generujte reporty, analyzujte trendy a využijte naše pokročilé analytické nástroje pro maximalizaci vašeho výkonu a efektivity.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="container mt-5" style="background-color: #f8f9fa;">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
            <h2>Časová řada za časový úsek</h2>
            <div id="plot_in_time_s">{{ plot_in_time_s|safe }}</div>
        </div>
        <div class="col-md-12 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
            <h2>Časová řada za časový úsek</h2>
            <div id="plot_in_time_h">{{ plot_in_time_h|safe }}</div>
        </div>
        <div class="col-md-12 mb-5" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
            <h2>Sensory a jejich vyvolání</h2>
            <div id="plot_bar_sensor">{{ plot_bar_sensor|safe }}</div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

const WINDOW_SIZE = 35;
document.addEventListener('DOMContentLoaded', function() {
    // Inicializace grafů
    var initialDataS = [{y: [], type: 'scatter'}];
    var initialDataH = [{y: [], type: 'scatter'}];
    var initialDataSensor = [{y: [], type: 'bar'}];

    var layoutS = {
        autosize: true, 
        title: 'Dynamický graf', 
        xaxis: { title: 'Čas' },
        yaxis: { title: 'Hodnoty' }
    };
    
    var layoutH = {
        autosize: true, 
        title: 'Dynamický graf', 
        xaxis: { title: 'Čas' },
        yaxis: { title: 'Hodnoty' }
    };

    var layoutSensor = {
        autosize: true, 
        title: 'Dynamický graf', 
        xaxis: { title: 'Senzory' },
        yaxis: { title: 'Počet vyvolání' }
    };

    Plotly.newPlot('plot_in_time_s', initialDataS, layoutS);
    Plotly.newPlot('plot_in_time_h', initialDataH, layoutH);
    Plotly.newPlot('plot_bar_sensor', initialDataSensor, layoutSensor);

    // Pravidelné volání fetchData
    setInterval(fetchData, 5000);
});

function fetchData() {
    fetch('/api/data')
        .then(response => response.json())
        .then(data => {
            // Kontrola, zda jsou elementy grafů inicializovány
            if (Plotly.d3.select('#plot_in_time_s').node() && 
                Plotly.d3.select('#plot_in_time_h').node() &&
                Plotly.d3.select('#plot_bar_sensor').node()) {
                // Kontrola, zda data jsou ve správném formátu
                if (Array.isArray(data.plot_in_time_s) && 
                    Array.isArray(data.plot_in_time_h) &&
                    Array.isArray(data.plot_bar_sensor)) {
                    Plotly.extendTraces('plot_in_time_s', { y: [data.plot_in_time_s] }, [0]);
                    Plotly.extendTraces('plot_in_time_h', { y: [data.plot_in_time_h] }, [0]);
                    Plotly.extendTraces('plot_bar_sensor', { y: [data.plot_bar_sensor] }, [0]);
                    
                    // Get current data length
                    let currentLength = Plotly.d3.select('#plot_in_time_s').node().data[0].y.length;

                    // If the current data length exceeds the window size, shift the window
                    if (currentLength > WINDOW_SIZE) {
                        Plotly.relayout('plot_in_time_s', {
                            xaxis: {
                                range: [currentLength - WINDOW_SIZE, currentLength]
                            }
                        });
                        Plotly.relayout('plot_in_time_h', {
                            xaxis: {
                                range: [currentLength - WINDOW_SIZE, currentLength]
                            }
                        });
                        Plotly.relayout('plot_bar_sensor', {
                            xaxis: {
                                range: [currentLength - WINDOW_SIZE, currentLength]
                            }
                        });
                    }
                } else {
                    console.error('Data is not in array format');
                }
            } else {
                console.error('Graph not initialized');
            }
        })
        .catch(error => console.error('Error fetching data:', error));
}
</script>
{% endblock %}
