{% extends 'index.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 block">
                <h1>Vítejte v naší webové aplikaci</h1>
                <p>Tato webová aplikace je navržena pro efektivní zpracování a vizualizaci dat. Prozkoumejte různé typy datových vizualizací prostřednictvím našeho intuitivního rozhraní. Pokračujte v prohlížení našich funkcí a nástrojů pro další informace a lepší pochopení vašich dat. Generujte reporty, analyzujte trendy a využijte naše pokročilé analytické nástroje pro maximalizaci vašeho výkonu a efektivity.</p>
            </div>
        </div>
    </div>
{% endblock %}